<body>
  <h1>Skate Park</h1>

  <div class="py-5">
    <h2>Iniciar Sesión</h2>
    <hr class="w-50" />

    <form>
      <div class="form-group">
        <div class="form-group">
          <label>Email</label>
          <input class="form-control w-50 m-auto" id="email" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control w-50 m-auto" id="password" />
        </div>
      </div>
      <button onclick= "verificacion()" class="btn btn-success mb-3">Ingresar</button>
      <p>¿Aún no tienes cuenta? <a href="#">Regístrate</a></p>
    </form>
  </div>
</body>
<!--Se debe crear una vista para que los participantes puedan iniciar sesión con su correo y contraseña, CORRECTO-->

<script>
  const verificacion = async () => {
    const email = document.getElementById('email').value
    const password = document.getElementById('password').value
    const payload = { email, password }
    try {
      const { data: token } = await axios.post('/verify', payload)
      alert(`Autenticación y autorizacion exitosa!`)
      window.location.href = `/datos?token=${token}`
    } catch ({ response }) {
      const { data } = response
      const { error } = data
      alert(error)
    }
  }
</script
</html>